/* footer */
@media screen and (max-width: 600px) {
    .footer-items {
        flex-direction: column;
        gap: 20px;
    }
}

/* header */
@media screen and ( max-width: 1170px) {
    .menu,
    nav .btn {
        display: none;
    }

    #mobile-btn {
        display: block;
        border: none;
        background-color: transparent;
        font-size: 1.5rem;
        cursor: pointer;
    }

    .open {
        display: block;
    }

    .menu-mobile {
        position: fixed;
        left: 0;
        top: 0;
    }
 

    #mobile-nav-list {
        background-color: #FFF9E9;
        height: calc(100vh - 90px);
        margin-top: 90px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 40px;
        font-size: 40px;
        list-style: none;
        position: fixed;
        width: 100%;
        z-index: 1000;
    }

    }

    #mobile-nav-list li a {
        color: #000;
        text-align: center;
        text-decoration: none;
    }



/* main */
@media screen and ( max-width: 1170px) {
    .principal {
        min-height: 100%;
        padding-top: 0px;
    }

    .img {
        display: none;
    }

    .main {
        width: 100%;
        text-align: center;
        align-items: center;
    }
}

@media screen and ( max-width: 450px) {
    .btns a i {
        display: none;
    }
}
/* </main> */

/* cardapio section */

@media screen and ( max-width: 1170px) {
    .ice-creams {
        flex-wrap: wrap;
        justify-content: center;
    }

    .ice-cream {
        width: calc(50% - 12px);
    }

}


@media screen and ( max-width: 600px) {
    .ice-cream {
        width: 100%;
    }

    #cardapio .section-subtitle {
        text-align: center;
    }

}

@media screen and ( max-width: 1170px) {
    #testimonials {
        flex-direction: column;
    }

    #testimonials .section-subtitle {
        text-align: center;
        font-size: 2.5rem;
    }

    .little-girl {
        display: none;
    }

    .testimonial-content{
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
/* testimonials section */
@media screen and ( max-width: 600px) {
    
    #testimonials .section-subtitle {
        font-size: 2rem;
    }

    .testimonial-content {
        width: 100%;
       
    }

    .feedback {
        flex-direction: column;
        width: 439px; 
        height: 244px;  
        padding: 22px;
        justify-content: center;
        align-items: center;
        text-align: left;
    }


}